<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SafeStep___Desktop__WinForms_.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SafeStep___Desktop__WinForms_.Properties.Settings>
            <setting name="LastPort" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="LastBaudRate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="AutoConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RememberSettings" serializeAs="String">
                <value>True</value>
            </setting>
        </SafeStep___Desktop__WinForms_.Properties.Settings>
    </userSettings>
</configuration>